openapi: 3.0.3

info:
  title: Zetheta FinSight Destination Financial APIs
  version: 1.0.0
  description: >
    DST-001 through DST-006 ingestion APIs for General Ledger,
    Accounts Payable, Accounts Receivable, Cost Centre, Profit Centre,
    and Material Ledger data.

servers:
  - url: https://api.finsight.zetheta.cloud/v1
    description: Zetheta FinSight Production Ingestion Gateway

security:
  - OAuth2:
      - finsight:ingest

paths:

  /DST-001/journal-entries:
    post:
      operationId: ingestGeneralLedger
      summary: DST-001 - Ingest General Ledger Journal Entries
      tags:
        - General Ledger
      description: >
        Accepts transformed GL journal entries for asynchronous ingestion.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GLBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /DST-002/ap-subledger:
    post:
      operationId: ingestAccountsPayable
      summary: DST-002 - Ingest Accounts Payable
      tags:
        - Accounts Payable
      description: >
        Ingests AP open and cleared vendor items.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-003/ar-subledger:
    post:
      operationId: ingestAccountsReceivable
      summary: DST-003 - Ingest Accounts Receivable
      tags:
        - Accounts Receivable
      description: >
        Ingests customer billing, collection, open-item and payment data.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-004/cost-centres:
    post:
      operationId: ingestCostCentres
      summary: DST-004 - Ingest Cost Centres
      tags:
        - Cost Centres
      description: >
        Ingests cost centre master records and flattened hierarchy attributes.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-005/profit-centres:
    post:
      operationId: ingestProfitCentres
      summary: DST-005 - Ingest Profit Centres
      tags:
        - Profit Centres
      description: >
        Ingests profit centre attributes and segment reporting alignment.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-006/material-ledger:
    post:
      operationId: ingestMaterialLedger
      summary: DST-006 - Ingest Material Ledger
      tags:
        - Material Ledger
      description: >
        Ingests actual costing layers, valuation and price difference allocations.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  securitySchemes:

    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials for FinSight ingestion.
      flows:
        clientCredentials:
          tokenUrl: https://auth.finsight.zetheta.cloud/oauth/token
          scopes:
            finsight:ingest: Permission to submit ERP integration records
            finsight:read: Permission to verify ingestion status

  parameters:

    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: true
      description: >
        Unique identifier preventing duplicate processing of the same
        business transaction.
      schema:
        type: string
        format: uuid

    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      description: Request tracing identifier.
      schema:
        type: string
        format: uuid

  schemas:

    GLRecord:
      type: object
      required:
        - documentId
        - postingDate
        - amountLC
      properties:
        documentId:
          type: string
          example: MC01-2026-5000000000
        postingDate:
          type: string
          format: date
        amountLC:
          type: number
          format: double
        currency:
          type: string
          example: INR
        type:
          type: string
          enum:
            - DEBIT
            - CREDIT

    GLBatchRequest:
      type: object
      required:
        - batch_id
        - records
      properties:
        batch_id:
          type: string
          format: uuid
        records:
          type: array
          minItems: 1
          maxItems: 5000
          items:
            $ref: '#/components/schemas/GLRecord'

    GenericBatchRequest:
      type: object
      required:
        - batch_id
        - records
      properties:
        batch_id:
          type: string
          format: uuid
        records:
          type: array
          minItems: 1
          maxItems: 5000
          items:
            type: object
            additionalProperties: true

    AcceptedResponse:
      type: object
      required:
        - status
        - tracking_id
      properties:
        status:
          type: string
          enum:
            - ACCEPTED
        tracking_id:
          type: string
          format: uuid
        batch_id:
          type: string
          format: uuid

    ErrorResponse:
      type: object
      required:
        - error_code
        - message
        - timestamp
      properties:
        error_code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        correlation_id:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties: true

  responses:

    Accepted:
      description: Batch accepted for asynchronous processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AcceptedResponse'

    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Missing or invalid OAuth credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Required OAuth scope is missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    DuplicateEntry:
      description: Business key or idempotency key has already been processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error_code: DUPLICATE_ENTRY
            message: Record with same business key already exists.
            timestamp: '2026-08-24T12:00:00Z'

    ValidationError:
      description: Request passed authentication but failed data validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: FinSight ingestion rate limit exceeded.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
            example: 600
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Unexpected FinSight processing error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailable:
      description: FinSight temporarily unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'