openapi: 3.0.3

info:
  title: Zetheta FinSight Destination Operations APIs
  version: 1.0.0
  description: >
    DST-007 through DST-012 ingestion APIs covering Purchase Orders,
    Sales Orders, Fixed Assets, Bank Statements, Budget versus Actual,
    and Inventory.

servers:
  - url: https://api.finsight.zetheta.cloud/v1
    description: Zetheta FinSight Production Ingestion Gateway

security:
  - OAuth2:
      - finsight:ingest

paths:

  /DST-007/purchase-orders:
    post:
      operationId: ingestPurchaseOrders
      summary: DST-007 - Ingest Purchase Orders and GR/IR
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-008/sales-orders:
    post:
      operationId: ingestSalesOrders
      summary: DST-008 - Ingest Sales Orders and Revenue Data
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-009/fixed-assets:
    post:
      operationId: ingestFixedAssets
      summary: DST-009 - Ingest Fixed Assets and Depreciation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-010/bank-statements:
    post:
      operationId: ingestBankStatements
      summary: DST-010 - Ingest Bank Statements
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-011/budget-actual:
    post:
      operationId: ingestBudgetActual
      summary: DST-011 - Ingest Budget versus Actual
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /DST-012/inventory:
    post:
      operationId: ingestInventory
      summary: DST-012 - Ingest Inventory Valuation and Stock Movements
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBatchRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateEntry'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  securitySchemes:

    OAuth2:
      type: oauth2
      description: >
        OAuth 2.0 Client Credentials Grant used by the middleware
        transformation and loading service.
      flows:
        clientCredentials:
          tokenUrl: https://auth.finsight.zetheta.cloud/oauth/token
          scopes:
            finsight:ingest: Submit transformed ERP records
            finsight:read: Read ingestion status

  parameters:

    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: true
      description: >
        Unique UUID used to prevent duplicate batch processing.
      schema:
        type: string
        format: uuid

    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      schema:
        type: string
        format: uuid

  schemas:

    GenericBatchRequest:
      type: object
      required:
        - batch_id
        - records
      properties:
        batch_id:
          type: string
          format: uuid
        records:
          type: array
          minItems: 1
          maxItems: 5000
          items:
            type: object
            additionalProperties: true
        webhook_url:
          type: string
          format: uri
          description: Optional callback endpoint for asynchronous processing status.

    AcceptedResponse:
      type: object
      required:
        - status
        - tracking_id
      properties:
        status:
          type: string
          enum:
            - ACCEPTED
        tracking_id:
          type: string
          format: uuid
        batch_id:
          type: string
          format: uuid

    ErrorResponse:
      type: object
      required:
        - error_code
        - message
        - timestamp
      properties:
        error_code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        correlation_id:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties: true

  responses:

    Accepted:
      description: Batch accepted for asynchronous processing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AcceptedResponse'

    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Insufficient OAuth permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    DuplicateEntry:
      description: Duplicate business key or idempotency key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Data validation failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: FinSight rate limit exceeded.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
            example: 600
        X-RateLimit-Remaining:
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Unexpected FinSight error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'